#container{
    width: 90%;
    margin: auto;
    /* background-color: wheat; */
}
#app-1{
    display: flex   ;
}
#p-details{
    width: 25%;
    margin: auto;
}
#book-app{
    border: 1px solid rgb(231, 228, 228);
    padding: 30px;
    width: 40%;
    margin: 2.5%
}
#bookTime{ 
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#bookTime>div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
#bookTime>div>button{
    background-color: rgb(94, 94, 230);
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    /* padding: 20px; */
    width: 150px;
    height: 50px;
}
#bookTime>div>button:hover{
    background-color: white;
    color: rgb(94, 94, 230);
    border: 1px solid rgb(94, 94, 230);
}
#cart-display{
    width: 25%;
    margin: auto;
    border: 1px solid rgb(218, 215, 215);
    box-shadow: 5px 2px rgb(218, 215, 215);
    border-radius: 2px; 
    height: 400px;
    padding: 30px;
}
.input-cart{
    width: 100%;
    border-radius: 10px;
}
.btn-check{
    height: 40px;
    background-color: rgb(211, 211, 219);
    border: 0;
    border-radius: 5px;
    width: 80px;
}