* {
  box-sizing: border-box;
  font-family: Camphor, Helvetica, Arial, sans-serif !important;
}
body {
  margin: auto;
  width: 100%;
}
#body_import {
  width: 80%;
  margin: auto;
}
#main_floating {
  display: flex;
  width: 88%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -30px;
}
.style_inp > input {
  width: 230px;
  height: 40px;
  padding-left: 35px;
}
.style_inp1 {
  display: flex;
}
.search_btn_icon1 {
  position: absolute;
  margin-top: 11px;
  margin-left: 9px;
}
.style_inp1 > input {
  width: 435px;
  height: 40px;
  padding-left: 39px;
}
.banner_ori > img {
  width: 193px;
  height: 52px;
  margin-left: 450px;
}
#location {
  /* width: 100%; */
  display: flex;
  /* border: 1px solid black; */

  margin: auto;
}
#location > div:nth-child(1) {
  margin: 2.5%;
  width: 75%;
}
#location > div:nth-child(1) > input {
  height: 45px;
}
#location > div:nth-child(1) > input:nth-child(1) {
  width: 40%;
}
#location > div:nth-child(1) > input:nth-child(2) {
  width: 30%;
}
#location > div:nth-child(2) {
  margin: 2.5%;
  width: 20%;
}
#location > div:nth-child(2) > img {
  height: 50px;
}
/* BANNER */
#banner-start {
  width: 90%;
  margin: auto;
}
#banner {
  margin-top: 90px;
  display: flex;
  background: linear-gradient(105.21deg, #3743ab 2.85%, #141b56 99.41%);
  height: 310px;
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 50px;
}
#banner-left {
  width: 50%;
  padding: 50px;
}
#banner-right {
  width: 30%;
  padding: 50px;
}
#banner-left > img {
  width: 40%;
}
#banner-left > p {
  margin-bottom: 0;
  color: white;
}
#banner-left > h1 {
  margin-top: 0;
  color: white;
  font-size: 40px;
}
#banner-right > img {
  width: 545px;
  height: 350px;
  margin-top: -110px;
}
#banner-btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#prop1 {
  grid-area: prop1;
  background-color: rgb(197, 197, 235);
}
#prop2 {
  grid-area: prop2;
  background-color: rgb(125, 211, 192);
}
#prop3 {
  grid-area: prop3;
  background-color: rgb(179, 173, 173);
}
#prop4 {
  grid-area: prop4;
  background-color: rgb(197, 197, 235);
}
#prop5 {
  grid-area: prop5;
  background-color: rgb(192, 216, 207);
}
.prop {
  width: 100%;
  /* padding: 10px 10px 0 10px; */
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgb(148, 142, 142);
  height: 286px;
}
.prop > img {
  width: 130px;
  height: 145px;
  margin-top: 20px;
  /* margin-bottom: -19px; */
}
.prop > div {
  background-color: white;
  text-align: left;
  padding: 11px;
  border-bottom: 1px solid rgb(167, 164, 164);
  border-radius: 20px;
}
.prop > div > p {
  font-size: 15px;
}
.Medicine_subheader {
  width: 90%;
  margin: auto;
}
.sliding_medicine_images {
  display: flex;
  width: 90%;
  margin: auto;

  /* overflow-x: scroll; */
}

.sliding_medicine_images > div > img {
  width: 290px;
  height: 200px;
  margin-right: 15px;
  border-radius: 5px;
}
.sliding-data {
  width: 400px;
}
.sliding-data > div {
  padding: 10px;
}
.sliding-data > div > h4 {
  margin-bottom: 0;
}
.slide_imag {
  width: 300px;
}
#consult-heading {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
#consult-heading > div:nth-child(1) {
  width: 80%;
}
#consult-heading > div:nth-child(1) > p {
  margin: 0;
}
#consult-heading > div:nth-child(2) {
  width: 15%;
  margin: 2.5%;
}
#specification {
  font-size: 15px;
  padding: 15px;
  border: 1px solid rgb(73, 221, 247);
  color: rgb(73, 221, 247);
  background-color: rgb(245, 252, 253);
}
#consult {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 10px;
  text-align: center;
}
#consult > a {
  width: 90%;
  margin: 5%;
  text-decoration: none;
}
#consult > a > div > img {
  border-radius: 50%;
  width: 150px;
}
#consult > a > div > p {
  color: rgb(73, 221, 247);
}
#consult1 {
  grid-area: c1;
}
#consult2 {
  grid-area: c2;
}
#consult3 {
  grid-area: c3;
}
#consult4 {
  grid-area: c4;
}
#consult5 {
  grid-area: c5;
}
#consult6 {
  grid-area: c6;
}
#line-clear {
  margin-top: 50px;
  margin-bottom: 100px;
}
#article {
  width: 70%;
  margin: auto;
  display: grid;
  gap: 20px;
  margin-top: 80px;
}

#article > div > a {
  text-decoration: none;
  padding: 10px;
}
#article > div > a > img {
  width: 100%;
}
#article > div > a > div {
  padding: 0 15px 0 15px;
  color: black;
}
#article > div > a > div > h3 {
  margin: 0;
}
#article1 {
  grid-area: act1;
  padding: 10px;
}
#article2 {
  grid-area: act2;
}
#article3 {
  grid-area: act3;
}

#slider-auto {
  text-align: center;
  width: 50%;
  margin: auto;
}
.slideshow-container {
  width: 80%;
  margin: auto;
  display: flex;
}
.mySlides {
  width: 100%;
}
.mySlides > div {
  width: 100%;
  margin: auto;
}
.mySlides > div > p {
  font-size: 25px;
  width: 600px;
  color: grey;
}
#downlaord {
  width: 60%;
  margin: auto;
  display: grid;
  gap: 90px;
  margin-top: 80px;
  margin-bottom: 80px;
}
#down1 > img {
  width: 350px;
}
#down1 {
  grid-area: down1;
}
#down2 {
  grid-area: down2;
}
#phone {
  display: flex;
  gap: 20px;
}
#phone > div {
  display: flex;
}
#phone > div > h3 {
  border-left: 0.5px solid rgb(141, 134, 134);
  border-top: 0.5px solid rgb(141, 134, 134);
  border-bottom: 0.5px solid rgb(141, 134, 134);
  padding: 14px;
  margin-top: 18px;
}
#phone > div > input {
  margin-top: 18px;
  height: 52px;
  width: 250px;
}
#phone > button,
#article1 > button {
  background-color: rgb(35, 196, 245);
  color: white;
  font-size: 15px;
  border: 0;
  height: 52px;
  margin-top: 18px;
  padding: 15px;
  font-weight: 700;
  border-radius: 10px;
}
#app > img {
  width: 120px;
  height: 40px;
}
@media screen and (max-width: 1000px) {
  #property {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "prop1 prop2"
      "prop3 prop4"
      "prop5 prop6";
  }
  .prop > div {
    padding: 20px;
  }
  #consult {
    grid-template-areas:
      "c1 c2 "
      " c3 c4"
      " c5 c6";
  }
  #article {
    grid-template-areas:
      "act1 act1 "
      "act2 act3";
  }
  #downlaord {
    grid-template-areas:
      "down1 "
      "down2";
  }
}
@media screen and (min-width: 1000px) {
  #property {
    padding: 20px;
    /* background-color: violet; */
    width: 90%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-areas: "prop1 prop2 prop3 prop4 prop5";
    margin-bottom: 50px;
  }

  #consult {
    grid-template-areas: "c1 c2 c3 c4 c5 c6";
    margin-bottom: 60px;
  }
  #article {
    grid-template-areas: "act1 act2 act3";
  }
  #downlaord {
    grid-template-areas: "down1 down2";
  }
}

/* ketan css part */

.profile-main-div {
  position: absolute;
  visibility: hidden;
  margin-top: -75px;
  margin-left: 77%;
  width: 15%;
  padding: 1%;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%);
  background-color: white;
}
.upper-section-name-image-div {
  display: flex;
}
.upper-section-name-image-div > div:nth-child(1) {
  width: 35%;
}
.upper-section-name-image-div > div > img {
  width: 80%;
  border-radius: 100%;
}
.upper-section-name-image-div > div > p {
  margin-top: 0%;
  margin-right: 2%;
}
.upper-section-name-image-div > div > p:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
}
.upper-section-name-image-div > div > p:nth-child(2) {
  color: grey;
  font-size: 14px;
}
.content-below-name-mobile-number {
  font-size: 15px;
  color: rgba(73, 73, 73, 0.986);
}
.content-below-name-mobile-number > p {
  padding: 5%;
  cursor: pointer;
}
.content-below-name-mobile-number > .margin {
  margin-top: -12px;
}
.content-below-name-mobile-number > p:hover {
  background-color: lightgrey;
}

.bottom-most-main-div:hover {
  cursor: pointer;
  color: rgba(255, 68, 0, 0.952);
  background-color: lightgrey;
}
.bottom-most-main-div {
  padding: 5%;
  margin-top: -10px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(59, 59, 59);
}
.bottom-most-main-div > div {
  font-weight: unset;
  font-size: unset;
  color: unset;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgba(73, 73, 73, 0.774);
  margin-top: 12px;
}
