body {
  font-family: Camphor, sans-serif;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  color: #2d2d32;
  text-size-adjust: 100%;
  font-size: 14px;
  font-weight: 400;
}
container {
  display: flex;
}
.u-content-wrapper {
  width: 1180px;
  margin: 0 auto;
}
.right-container {
  width: 40%;
  padding: 20px 20px 0 0;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  z-index: 1;
}
.image-carousel--wrapper {
  display: flex;
  width: 100%;
  margin: 10px 0;
}
.image-carousel--slide_wrapper {
  width: 70px;
}
.image-carousel--product_wrapper {
  width: 430px;
  border: 1px solid #f0f0f5;
  border-radius: 4px;
}
.image-carousel--image_wrapper {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.image-carousel--default-image {
  width: 100%;
}
.image-carousel--product_divide {
  border: 0.5px solid #f0f0f5;
}
.u-m-l--20 {
  margin-left: 20px !important;
}
.u-margin--10 {
  margin: 10px;
}
.u-d-flex {
  display: flex;
}
.text-charcoal-grey {
  color: #2d2d32;
}
.heading-beta-bold {
  font-size: 20px;
  font-weight: 700;
}
.u-p--15 {
  padding: 15px;
}
.u-disable-scroll--x {
  overflow: hidden;
}
.button__primary {
  color: #fff;
  background: #14bef0;
}
.button__normal--fixed-height {
  line-height: 38px;
  padding: 0;
  font-size: 14px;
}
.button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border-image: initial;
  border: 1px solid transparent;

  outline: none;
}
.u-columns.u-seven {
  width: 58.33%;
}
.u-column,
.u-columns {
  display: inline-block;
  min-height: 1px;
}
.u-p-t--20 {
  padding-top: 20px !important;
}
.heading-alpha {
  font-size: 24px;
  font-weight: 600;
}
.u-p-b--5 {
  padding-bottom: 5px !important;
}
.u-d-flex {
  display: flex;
}
.heading-alpha {
  font-size: 24px;
  font-weight: 600;
}
.u-m-t--5 {
  margin-top: 5px !important;
}
.text-cool-grey-three {
  color: #9b9ba8;
  text-transform: capitalize;
}
.u-m-r--10 {
  margin-right: 10px !important;
}
.u-text--no-decoration {
  text-decoration: none;
}
.health-product__section {
  border-top: 1px solid #f0f0f5;
  margin-top: 20px;
  padding-top: 20px;
}
.text-charcoal-grey {
  color: #2d2d32;
}
.heading-gamma-bold {
  font-size: 18px;
  font-weight: 700;
}
.heading-epsilon,
body {
  font-size: 14px;
  font-weight: 400;
}
.list__description {
  margin-top: 5px;
}
.text-steel {
  color: #787887;
}
.heading-epsilon,
body {
  font-size: 14px;
  font-weight: 400;
}
.list__without-image-content {
  margin: 5px 0;
}
.health-product__section {
  border-top: 1px solid #f0f0f5;
  margin-top: 20px;
  padding-top: 20px;
}
.text-charcoal-grey {
  color: #2d2d32;
}

.u-p-b--10 {
  padding-bottom: 10px !important;
}
.heading-gamma-bold {
  font-size: 18px;
  font-weight: 700;
}
