* {
  box-sizing: border-box;
  font-family: Camphor, Helvetica, Arial, sans-serif !important;
}
body {
  margin: 0;
}
#footer {
  background-color: rgb(40, 50, 140);
  color: white;
  width: 100%;
  height: 70vh;
}
#first_container {
  display: flex;
  padding: 30px 60px;
  justify-content: center;
}
.container {
  padding: 0px 60px;
}
.container > h2 {
  font-size: 15px;
}
.container > p {
  font-size: 13px;
  margin: 0px;
  margin-top: 8px;
  padding: 0;
}
#img_container {
  display: flex;

  justify-content: center;
}
.copywrite {
  text-align: center;
  font-size: 13px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.container > h2:hover,
.container > p:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}
#header_part {
  display: flex;
  padding: 5px 60px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(221, 208, 208);
}
.header_container {
  padding: 0px 18px;
  margin: 19px 0px;
}
.header_container > h1 {
  font-size: 14px;
  margin: 0px;
  font-weight: 500;
}
.header_container > p {
  font-size: 12px;
  margin: 0px;
  color: grey;
}
.header_container #provide {
  border: none;
  background-color: #fff;
  font-size: 14px;
  color: rgb(27, 26, 26);
  width: 146px;
}
.header_container #Security {
  border: none;
  background-color: #fff;
  font-size: 14px;
  color: rgb(27, 26, 26);
  width: 149px;
}
.header_container #login {
  padding: 7px;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
}
.search_btn_icon {
  margin-left: 78px;
  margin-top: 19px;
  position: relative;
}
.fle_btn_img {
  display: flex;
}
.fle_btn_img svg {
  width: 24px;
  margin-left: -27px;
  margin-top: -9px;
}
