* {
  box-sizing: border-box;
  font-family: Camphor, Helvetica, Arial, sans-serif !important;
}

body {
  margin: 0;
}
#medicine_container {
  width: 80%;
  margin: auto;
}
.medicine_header {
  font-size: 18px;
}
.Medicine_subheader {
  font-size: 14px;
  color: grey;
}
.sliding_medicine_images {
  display: flex;
  width: 100%;
  height: 250px;
  overflow-x: scroll;
}

.sliding_medicine_images > span > img {
  width: 290px;
  height: 200px;
  margin-right: 15px;
  border-radius: 5px;
}
#input_container {
  width: 80%;
  display: flex;
  margin: auto;
}
#input_container input {
  width: 600px;
  height: 40px;
  margin: 10px -31px;
  padding-left: 44px;
  border-radius: 5px;
  border: 1px solid grey;
}
#input_container button {
  margin-left: auto;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  color: white;
  border: none;
  background-color: rgb(20, 190, 240);
  font-size: 16px;
  font-weight: 400px;
  border-radius: 5px;
}
#input_container input:focus {
  outline: 1px solid rgb(20, 190, 240);
}
#filter_container {
  display: flex;
  width: 80%;
  margin: auto;
}
#filter_container > div {
  display: flex;
  margin-right: 20px;
}
#filter_container > div > p {
  width: 166px;
}
#filter_container > div > p > svg {
  width: 17px;
}

#main_catergory_container {
  width: 80%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 24% 74%;

  margin: auto;
  margin-top: 60px;
  margin-bottom: 80px;
}

#main_catergory_container .container1 > h1 {
  font-size: 19px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
#main_catergory_container .container1 > p {
  font-size: 19px;
  border-bottom: 0.4px solid rgb(207, 203, 203);
  padding-bottom: 10px;
}
#products_container_section {
  display: flex;
  margin-left: 50px;
}
.container1 {
  cursor: pointer;
}
#products_container_section > p {
  margin-top: 40px;
  font-size: 13px;
  margin-left: 10px;
}
#best_seller {
  margin-left: 50px;
  font-size: 13px;
}
#filter_side_container {
  display: flex;
  align-content: flex-start;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  flex-direction: row;
}
.filter_side_container1 {
  width: 270px;
  margin-right: 13px;
  margin-bottom: 20px;
}
.filter_side_container1 img {
  width: 100%;
  height: 200px;
}
.line {
  width: 94%;
  border-bottom: 0.5px solid rgb(216, 213, 213);
  margin: auto;
}
.filter_side_container1 p {
  margin-bottom: 34px;
  margin-left: 10px;
}
.button_contaner {
  width: 100%;
  margin: 5px;
}
.button_contaner > button {
  width: 45%;
  height: 40px;
  margin-right: 5px;
  background-color: #fff;
  color: grey;
  border: 0.5px solid rgb(226, 224, 224);
}
.button_contaner > button:nth-child(2) {
  background: #fff;
  color: #14bef0;
  border-color: #14bef0;
}
.button_contaner > button:nth-child(2):hover {
  background-color: #14bef0;
  color: white;
}
.filter_side_container1:hover {
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
.dashline {
  width: 100%;

  border: 0.3px solid rgb(238, 233, 233);
}

/* search bar results */
#Search-bar_results {
  position: absolute;
  margin-left: 236px;
  width: 36%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 9%);
  cursor: pointer;
  z-index: 1;
  display: none;
}

.small_div {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 20px;
}
.small_div .search_img {
  width: 80px;
  height: 80px;
}
.div2_style {
  margin-left: 30px;
}
.div2_style .text-charcoal-grey-two {
  font-size: 15px;
}
.div2_style .price_style {
  margin-top: -10px;
  font-weight: 600;
}
.div2_style .disco_style {
  margin-top: -13px;
  color: darkgreen;
}
.btn_style {
  box-sizing: border-box;
  width: 25%;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
  border: 1px solid #1ebef0;
  margin-left: auto;
  background-color: #fff;
  color: #1ebef0;
}
#flexing {
  display: flex;
}
.flexbox1 {
  margin-right: -20px;
}
.price_style_filter {
  font-size: 21px;
}
.search_btn_icon2 {
  margin-top: 7px;
  margin-left: 5px;
}
.seconf_btn {
  display: flex;
}
.seconf_btn > P {
  margin-left: 25px;
  margin-top: 9px;
}
