.login-register-top-div{
    text-align: center;
    word-spacing: 40px;
    margin-top: 25px;
}
.login-register-top-div > a{
    font-size: 17px;
    color: #191925;
    text-decoration: unset;
}

.login-register-top-div > a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 5%;
}
.line-below-login-register-navigator{
    width: 60%;
    margin-top: 10px;
}
.main-div-of-form-with-beside-image{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.image-left-on-register-form{
    width: 95%;
    height: 97%;
}
.form-left-side-image-div{
    padding: 5%;
}
.register-form-main-div{
    width: 50%;
    height: 330px;
    margin-top: 4%;
    border-radius: 5px;
    padding: 2%;
    border: 1px solid lightgrey;
}
.join-practo-top-of-register-form{
    display: flex;
}
.join-practo-top-of-register-form > div:nth-child(1){
    font-size: 16px;
    font-weight: 500;
    color: grey;
    margin-left: 2%;
}
.doctor-div{
    color: grey;
    font-size: 13px;
    margin-top: 20px;
}
#dom-placed-mobile-number{
    color: rgb(122, 122, 122);
    letter-spacing: 0.2px;
    font-size: 17px;
    margin-top: 14px;
    margin-bottom: 30px;
    visibility: hidden;
}

.div-below-join-practo-doctor-div{
    padding: unset;
    margin: unset;
    background-color: lightgrey;
    height: 0.05rem;
    width: 100%;
    margin-top: 3%;
}
.name-div >p {
    font-size: 14px;
    color: rgba(95, 95, 95, 0.952);
}
.name-div > input{
    border: 1px solid lightgrey;
    padding: 2.5%;
    width: 100%;
    margin-top: -5px;
}

.terms-div-below-the-form{
    display: flex;
    color: rgb(95, 95, 95);
    font-size: 13px;
    margin-top: 12px;
}
.terms-div-below-the-form > a:nth-child(1){
    margin-left: 0.8rem;
    color: #13BEF0;
}
.terms-div-below-the-form > a:nth-child(2){
    margin-left: 4.2rem;
    color: #13BEF0;
}
.send-otp-button{
    border: unset;
    background-color: #13BEF0;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    height: 48px;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .form-left-side-image-div{
        visibility: hidden;
        width: 0%;
    }
    .main-div-of-form-with-beside-image{
        width: 50%;
    }
    .register-form-main-div{
        width: 100%;
    }
}












#footer_import{
    margin-top: 170px;
}