body {
  margin: 0%;
  padding: 0px;
  background-color: rgb(240, 240, 245);
}
header {
  width: 100%;
  height: 50px;

  box-shadow: 0 2px 4px 0 rgb(180 180 190 / 37%);
}
.practo_logo_new {
  height: 22px;
  background: url(//www.practostatic.com/ecommerce-assets/static/media/practo.8e3ca798.svg)
    no-repeat;
  margin: 30px 60px;
}
.payment_container {
  display: grid;
  width: 55%;
  margin: auto;
  margin-bottom: 80px;
  grid-template-columns: 32% 68%;
  margin-top: 70px;
  background-color: #fff;
}
.payment_container .con1 {
  border-right: 1px solid rgb(240, 240, 245);
  cursor: pointer;
}

.con1 h2 {
  padding-left: 47px;
}
.pay1 {
  width: 65%;
  border-top: 0.5px solid rgb(240, 240, 245);

  height: 6px;
  padding: 13px 47px;
  font-size: 19px;
  color: #413c3cfc;
}
.con_pay2 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: rgb(40, 50, 140);
}
.img_div > img {
  width: 500px;
  margin-left: 29px;
  height: 500px;
}
.h3_class {
  margin-left: 175px;
  margin-top: 70px;
}
.img_div input {
  margin-left: -2px;
}
.p_class {
  margin-left: 195px;
  margin-top: -32px;
}
.btn_class {
  width: 70%;
  height: 45px;
  margin-left: 103px;
  margin-top: 261px;
  color: white;
  border-radius: 5px;
  background-color: rgb(20, 190, 240);
  font-size: 22px;
  border: none;
  margin-bottom: 40px;
  cursor: pointer;
}
.btn_classa {
  width: 70%;
  height: 45px;
  margin-left: 32px;
  margin-top: 101px;
  color: white;
  border-radius: 5px;
  background-color: rgb(20, 190, 240);
  font-size: 22px;
  border: none;
  margin-bottom: 40px;
  cursor: pointer;
}
/* sucesss */
#big {
  width: 35%;
  margin: auto;
  display: flex;
  margin-bottom: 60px;
}
#left {
  flex: 2;
  margin: 0 20px;
}
#rig {
  flex: 1;
  margin: 0 20px;
}

#left > div {
  display: flex;
  flex-direction: row;
}
#l1 {
  justify-content: space-between;
  background-color: rgb(16, 132, 126);
  margin-top: 100px;
  padding: 30px;
  color: white;
  border-radius: 10px;
}
#l2 {
  justify-content: space-between;
  background-color: rgb(59, 184, 150);
  color: white;
  margin-top: 70px;
  padding: 25px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}
#l2 > div > button {
  width: 150px;
  height: 40px;
  background-color: white;
  color: rgb(16, 132, 126);
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  border: none;
}
#diag {
  height: 160px;
  margin-top: 100px;
  border: 1px solid gray;
  border-radius: 10px;
  background-image: url("../imag/suc.png");
  background-size: contain;
}

#rig > button {
  width: 100%;
  margin-top: 80px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(16, 132, 126);
  color: white;
  border-radius: 8px;
  border: none;
}
