body{
    margin-top: 200px;
}
#container{
    width: 30%;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(230, 224, 224);
    box-shadow: 5px 5px 5px 5px rgb(230, 224, 224);
    /* padding: 20px; */
}
#success{
    background-color: rgb(231, 228, 223);
    padding: 5px;
}
#success>i{
    background-color: green;
    padding: 30px;
    border-radius: 50%;
    font-size: 40px;
    color: white;
}
#homepage{
    width: 100%;
    border: 0;
    font-size: 25px;
    padding: 20px;
    color: white;
    background-color: green;
}