body {
  margin: 0%;
  padding: 0px;
}
header {
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgb(180 180 190 / 37%);
}
.practo_logo_new {
  height: 22px;
  background: url(//www.practostatic.com/ecommerce-assets/static/media/practo.8e3ca798.svg)
    no-repeat;
  margin: 30px 60px;
}
.bg-pale-grey-two {
  background-color: #f0f0f5;
  width: 100%;

  margin-top: -17px;
}
.prev_page {
  margin-left: 440px;
}
.prev_page > p {
  padding-top: 26px;
  font-size: 19px;
  color: #14bef0;
  font-weight: 700;
}
.cart_container {
  width: 50%;

  margin: auto;
  background-color: #fff;
}
.cart_container1 {
  text-align: center;
  font-size: 23px;
  font-weight: 600;

  box-shadow: 0 2px 4px 0 rgb(180 180 190 / 37%);
}
.cart_container1 p {
  padding: 20px;
}
.boxing_cart_container {
  display: flex;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgb(180 180 190 / 37%);
}
.img_cart {
  width: 100px;
}
.cart_name_para {
  font-size: 19px;
  margin: 20px;
  font-weight: 700;
}

.div1_cart_cont {
  margin-left: auto;
}
.price_cart_cont {
  font-size: 24px;
  font-weight: 700;
}

.Adding_more_cart > button {
  width: 260px;
  border: 2px solid rgb(20, 190, 240);
  cursor: pointer;
  background-color: #fff;
  color: rgb(20, 190, 240);
  height: 45px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 28px;
}
.u-position--fixed {
  box-shadow: 0 -2px 7px 0 hsl(0deg 0% 58% / 26%);
}
.box_carting > p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(41, 40, 40);
  padding: 20px 20px;
}
.box_carting > button {
  width: 98%;
  height: 45px;
  background-color: rgb(20, 190, 240);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  margin: 8px;
}
.quantity {
  width: 125 px;
  display: flex;
  justify-content: center;
  margin-right: 5px;
}

.quantity button {
  width: 50px;
  margin: 0px;
  height: 40px;
  color: rgb(20, 190, 240);
  border-radius: 0;
  background: #fff;
  border: 1px solid rgb(20, 190, 240);
}

.quantity input {
  width: 50px;
  height: 40px;

  color: #000;
  border-radius: 0;
  background: rgb(20, 190, 240);
  border: none;
  text-align: center;

  font-size: 18px;
  color: white;
  font-weight: 300;
}

/* payment page */
.payment_container {
  background-color: rgb(240, 240, 245);
  width: 100%;
  height: 100vh;
}
.inner_cont {
  width: 50%;
  background-color: #fff;
  height: 400px;
  margin: auto;
}
